<mat-toolbar color="primary" class="shadow">
    <mat-toolbar-row>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-primary-main">Budget Tracker</h1>
            </div>    
        </div>
        <div class="flex-spacer"></div>
        <mat-slide-toggle [checked]="isDarkTheme | async" (change)="toggleDarkTheme($event.checked)" class="toggle-switch-padding">Dark Mode</mat-slide-toggle>
        <mat-icon class="small-window-hide">person</mat-icon>
        <div class="right-spacing small-window-hide">{{ userName }}</div>
        <button mat-raised-button class="small-window-hide" (click)="logout()">Logout</button>
        <div class="menu-space">
            <button mat-button [matMenuTriggerFor]="mainMenu"><mat-icon>menu</mat-icon></button>
            <mat-menu #mainMenu="matMenu">
                <div [ngClass]="{'dark-theme' : isDarkTheme | async}">
                    <div class="mat-app-background">
                        <mat-list role="list">
                            <mat-list-item role="listitem" class="listSelect" (click)="tabClick('/newInput')">New Input</mat-list-item>
                            <mat-list-item role="listitem" class="listSelect" (click)="tabClick('/summary')">Summary</mat-list-item>
                            <mat-list-item role="listitem" class="listSelect" (click)="tabClick('/expensesByYear')">Expenses By Year</mat-list-item>
                            <mat-list-item role="listitem" class="listSelect" (click)="tabClick('/loans')">Loans</mat-list-item>
                            <mat-list-item role="listitem" class="listSelect" (click)="tabClick('/rawData')">Data</mat-list-item>
                        </mat-list>
                        <div class="small-window-menu">
                            <hr>
                        </div>
                        <span mat-menu-item class="small-window-menu">{{ userName }}</span>
                        <button mat-menu-item class="small-window-menu" (click)="logout()">Logout</button>
                    </div>
                </div>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>