.shadow {
    box-Shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.flex-spacer{
    flex-grow: 1;
}

.heading-primary-main{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.right-spacing{
    margin-right: 20px;
}

.small-window-menu{
    display: none;
}

.toggle-switch-padding{
    padding-right:2em;
}

.menu-space{
    padding-left:1em;
}

.listSelect{
    cursor: pointer;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .small-window-menu{
        display: inline;
    }

    .small-window-hide{
        display: none;
    }

    .menu-space{
        padding-left:0em;
    }

    .toggle-switch-padding{
        padding-left: 1em;
        padding-right:0em;
    }

}