<mat-toolbar color="primary" class="shadow">
    <mat-toolbar-row>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-primary-main">Budget Tracker</h1>
            </div>    
        </div>
        <div class="flex-spacer"></div>
        <div class="small-window-menu">
            <button mat-button [matMenuTriggerFor]="mainMenu"><mat-icon>menu</mat-icon></button>
            <mat-menu #mainMenu="matMenu">
            <span mat-menu-item>{{ userName }}</span>
            <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
        </div>
        <div class="right-spacing small-window-hide">{{ userName }}</div>
        <button mat-raised-button class="small-window-hide" (click)="logout()">Logout</button>
    </mat-toolbar-row>
</mat-toolbar> 