<mat-card class="small-window-top-spacing">
    <mat-card-content>
        <h3 class="overall-expenses-title" *ngIf="showTitle">Overall Expenses</h3>
        <div *ngIf="spinner" class="center-align">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <div [hidden]="!chart"  *ngIf="!spinner && !noDataForCustomer" class="row d-flex justify-content-center">
            <canvas id="lineYearExpenses" class="lineChartDisplay"></canvas>
        </div>
        <div *ngIf="noDataForCustomer && !spinner">
            <span>Currently you have no Expenses to be shown, Use "New Input" Tab above to start visualizing your data</span>
        </div>
    </mat-card-content>
</mat-card>