<div *ngIf="spinner" class="center-align">
    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div *ngIf="!spinner">
    <mat-card>
        <mat-card-content>
            <h3 class="table-pending-loans-title">All Pending Loans</h3>
            <div *ngIf="spinnerOn; else spinnerOff">
                <mat-spinner></mat-spinner>
            </div>
            <ng-template #spinnerOff>
                <div *ngIf="dataUnavilable; else dataAvailable">
                    <h3 class="no-loans-content">Hurray! You have no pending loans!</h3>
                </div>
                <ng-template #dataAvailable>
                    <div class="table-responsive">
                        <table class="table table-striped pendingLoans">
                            <thead>
                            <tr>
                                <th scope="col" class="table-header-style">Loan</th>
                                <th scope="col" class="table-header-style">Loan Type</th>
                                <th scope="col" class="table-header-style">Balance</th>
                                <th scope="col" class="table-header-style">Loan APR</th>
                                <th scope="col" class="table-header-style">EMI</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let  pendingLoan of allPendingloans">
                                    <td>{{ pendingLoan.loanName | uppercase}}</td>
                                    <td>{{ pendingLoan.loanType | uppercase }}</td>
                                    <td>{{ pendingLoan.loanBalance | currency:USD }}</td>
                                    <td>{{ pendingLoan.loanAPR | decimalFormat:2 }} %</td>
                                    <td>{{ pendingLoan.loanMonthlyAmount | currency:USD }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div> 
                </ng-template>   
            </ng-template>
        </mat-card-content>
    </mat-card>    
</div>