table {
    width: 100%;
  }

.table-pending-loans-title{
    color: #2C3531;
    font-size: 16px;
    text-align: center;
}

.table-header-style{
    color: #2C3531;
    font-size: 14px;
    font-style: italic;
}

.no-loans-content{
    font-size: medium;
}