<div *ngIf="spinner" class="center-align">
    <div class="lds-ripple"><div></div><div></div></div>
</div>
<div *ngIf="!spinner">
    <mat-card>
        <mat-card-content>
            <h3 class="table-pending-loans-title">All Pending Loans</h3>
            <div *ngIf="dataUnavilable; else dataAvailable">
                <h3 class="no-loans-content">Hurray! You have no pending loans!</h3>
            </div>
            <ng-template #dataAvailable>
                <div class="table-responsive">
                    <table class="table table-striped pendingLoans">
                        <thead>
                        <tr>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }" class="table-header-style">Loan</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }" class="table-header-style">Loan Type</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }" class="table-header-style">Balance</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }" class="table-header-style">Loan APR</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }" class="table-header-style">EMI</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let  pendingLoan of allPendingloans">
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ pendingLoan.loanName | uppercase}}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ pendingLoan.loanType | uppercase }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ pendingLoan.loanBalance | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ pendingLoan.loanAPR | decimalFormat:2 }} %</td>
                                <td  [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ pendingLoan.loanMonthlyAmount | currency:USD }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> 
            </ng-template>   
        </mat-card-content>
    </mat-card>    
</div>