.mat-card-height-adjust{
    min-height: 437px;
    max-height: 437px;
}

.text-decorator{
    color: #2C3531;
    font-size: 16px;
    text-align: center;
}

.center-align{
    text-align: center;
    margin-top: 150px;
}

.center-heading{
    text-align: center;
}

.alarms-title{
    color: #2C3531;
    font-size: 16px;
}

.push-additional-alarms-symbol{
    flex-grow:1;
}

.font_size{
    font-size: 60px;
}

.form-field-spacing{
    margin: 10px;
}

.heading-icon-space{
    padding-left:20px;
}

.my-custom-scrollbar {
    position: relative;
    height: 150px;
    overflow-y: auto;
    border: 1px dotted silver;
}

.my-custom-scrollbar thead th { 
    position: sticky; 
    top: 0; 
    background:#eee;
}

.label-design{
    color: #2C3531;
    text-decoration: underline;
}

.budget-alarms-top{
    margin-top:20px;
}

.icon-display{
    margin-top: -3px;
    margin-left: -20px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.periodicAlarmTable td:nth-of-type(1):before { content: "Frequency"; }
	.periodicAlarmTable td:nth-of-type(2):before { content: "Emails"; }
    .periodicAlarmTable td:nth-of-type(3):before { content: "Actions"; }
    .budgetAlarmTable td:nth-of-type(1):before { content: "Alarm Period"; }
	.budgetAlarmTable td:nth-of-type(2):before { content: "Budget Amount"; }
    .budgetAlarmTable td:nth-of-type(3):before { content: "Email"; }
    .budgetAlarmTable td:nth-of-type(4):before { content: "Actions"; }
}