<mat-card class="mat-card-height-adjust">
    <mat-card-content>
        <div class="row center-heading">
            <h3 class="push-additional-alarms-symbol alarms-title">Alarms<mat-icon class="heading-icon-space">alarm</mat-icon></h3>
            <a *ngIf="!noAlarms" (click)="addAdditionalNewAlarm()"><mat-icon>add</mat-icon></a>
        </div>
        <div class="center-align" *ngIf="noAlarms">
            <a (click)="addNewAlarm()"><mat-icon class="font_size">add</mat-icon></a>
        </div>
        <div *ngIf="!noAlarms">
            <label class="label-design budget-alarms-top">Budget Alarms</label>
            <div class="my-custom-scrollbar">
                <div class="table-responsive-sm table-bottom-reduce table-sm">
                    <table class="table table-striped budgetAlarmTable">
                        <thead>
                        <tr>
                            <th scope="col" class="table-header-style">Alarm Period</th>
                            <th scope="col" class="table-header-style">Budget Amount</th>
                            <th scope="col" class="table-header-style">Email</th>
                            <th scope="col" class="table-header-style">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let budgetAlarm of budgetAlarms">
                                <td >{{ budgetAlarm.alarmBy }}</td>
                                <td >{{ budgetAlarm.budgetAmount | currency:USD }}</td>
                                <td >{{ budgetAlarm.budgetEmail }}</td>
                                <td >
                                    <a mat-button (click)="deleteBudgetAlarm(budgetAlarm.id)" class="icon-display"><mat-icon>delete</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>