<form [formGroup]="rawDataForm" (ngSubmit)="searchRawData(1)" #rawDataFormToReset="ngForm">
    <div class="row form-field-spacing">
        <div>
            <mat-form-field class="form-field-spacing">
                <mat-label>Input Type</mat-label>
                <mat-select formControlName="inputType">
                    <mat-option *ngFor="let inputType of inputTypes" [value]="inputType | removeSpace | lowercase">{{ inputType }}</mat-option>
                </mat-select>
                <mat-error *ngIf="!rawDataForm.get('inputType').valid && rawDataForm.get('inputType').touched">Please select a valid input type!</mat-error>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field class="date form-field-spacing">
                <mat-label>From Date</mat-label>
                <input matInput [max]="toDateLimit" [matDatepicker]="fromDateLimitPicker" formControlName="fromDateSearch">
                <mat-datepicker-toggle matSuffix [for]="fromDateLimitPicker"></mat-datepicker-toggle>
                <mat-datepicker #fromDateLimitPicker></mat-datepicker>
                <mat-error *ngIf="!rawDataForm.get('fromDateSearch').valid && rawDataForm.get('fromDateSearch').touched">Valid from date is required!</mat-error>
            </mat-form-field>
            <mat-form-field class="date form-field-spacing">
                <mat-label>To Date</mat-label>
                <input matInput [max]="toDateLimit" [matDatepicker]="toDateLimitPicker" formControlName="toDateSearch">
                <mat-datepicker-toggle matSuffix [for]="toDateLimitPicker"></mat-datepicker-toggle>
                <mat-datepicker #toDateLimitPicker></mat-datepicker>
                <mat-error *ngIf="!rawDataForm.get('toDateSearch').valid && rawDataForm.get('toDateSearch').touched">Valid to date is required!</mat-error>
            </mat-form-field>
        </div>
        <div class="search-button-spacing">
            <button mat-raised-button color="primary" type="submit">search <mat-icon>search</mat-icon></button>
        </div>
    </div>
</form>
<div *ngIf="dataAvailable;else noData">
    <div *ngIf="purchasesItemsAvailable">
        <mat-card>
            <mat-card-header class="mat-card-header-design">
            <mat-card-title class="mat-header-title-design">Purchases</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content-design">
                <div class="table-responsive-sm table-bottom-reduce table-sm">
                    <table class="table table-striped purchases">
                        <thead>
                        <tr>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Item</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Cost</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Date</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Main Category</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Sub Category</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let purchasesItem of purchasesItems">
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ purchasesItem.item }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ purchasesItem.cost | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ purchasesItem.date }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ purchasesItem.mainCategory }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ purchasesItem.subCategory }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">
                                    <a mat-button (click)="editPurchaseItem(purchasesItem.item,purchasesItem.cost,purchasesItem.date,purchasesItem.mainCategory,purchasesItem.subCategory,purchasesItem.id)" class="icon-display"><mat-icon>edit</mat-icon></a>
                                    <a mat-button (click)="deletePurchaseItem(purchasesItem.id)" class="icon-display"><mat-icon>delete</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="push-left"></div>
                    <div [ngClass]="{'pagination-color-dark' : isDark | async }" class="align-pageNumbers pagination-color">{{ minPagePurchases }} - {{ maxPagePurchases }} of {{ totalResultsPurchases }}</div>
                    <button mat-button [disabled]="purchaseLeftDisabled" class="left-arrow pagination-color" (click)="goLeft(minPagePurchases,'purchases')"><mat-icon>chevron_left</mat-icon></button><button mat-button class="right-arrow pagination-color" [disabled]="purchaseRightDisabled" (click)="goRight(minPagePurchases,maxPagePurchases,'purchases')"><mat-icon>chevron_right</mat-icon></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="incomeItemsAvailable">
        <mat-card>
            <mat-card-header class="mat-card-header-design">
            <mat-card-title class="mat-header-title-design">Income</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content-design">
                <div class="table-responsive-sm table-bottom-reduce table-sm">
                    <table class="table table-striped income">
                        <thead>
                        <tr>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Salary Recieved</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Date Recieved</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Federal Tax</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">State Tax</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Medicare Tax</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Social Security Tax</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let incomeItem of incomeItems">
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.salaryRecieved | currency:USD  }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.dateRecieved }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.federalTax | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.stateTax | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.medicareTax | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ incomeItem.socialSecurityTax | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">
                                    <a mat-button (click)="editIncomeItem(incomeItem.salaryRecieved,incomeItem.dateRecieved,incomeItem.federalTax,incomeItem.stateTax,incomeItem.medicareTax,incomeItem.socialSecurityTax,incomeItem.id)" class="icon-display"><mat-icon>edit</mat-icon></a>
                                    <a mat-button (click)="deleteIncomeItem(incomeItem.id)" class="icon-display"><mat-icon>delete</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="push-left"></div>
                    <div [ngClass]="{'pagination-color-dark' : isDark | async }" class="align-pageNumbers pagination-color">{{ minPageIncome }} - {{ maxPageIncome }} of {{ totalResultsIncome }}</div>
                    <button mat-button [disabled]="incomeLeftDisabled" class="left-arrow pagination-color" (click)="goLeft(minPageIncome,'income')"><mat-icon>chevron_left</mat-icon></button><button mat-button class="right-arrow pagination-color" [disabled]="incomeRightDisabled" (click)="goRight(minPageIncome,maxPageIncome,'income')"><mat-icon>chevron_right</mat-icon></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="insuranceItemsAvailable">
        <mat-card>
            <mat-card-header class="mat-card-header-design">
            <mat-card-title class="mat-header-title-design">Insurances</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mat-card-content-design">
                <div class="table-responsive-sm table-bottom-reduce table-sm">
                    <table class="table table-striped insurance">
                        <thead>
                        <tr>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Insurance Type</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Amount</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Date</th>
                            <th scope="col" [ngClass]="{'dark-mode-table-content' : isDark | async }">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let insuranceItem of insuranceItems">
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ insuranceItem.insuranceType }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ insuranceItem.insurnacePaidAmount | currency:USD }}</td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">{{ insuranceItem.insurancePaidDate }} </td>
                                <td [ngClass]="{'dark-mode-table-content' : isDark | async }">
                                    <a mat-button (click)="editInsuranceItem(insuranceItem.insuranceType,insuranceItem.insurnacePaidAmount,insuranceItem.insurancePaidDate,insuranceItem.id)" class="icon-display"><mat-icon>edit</mat-icon></a>
                                    <a mat-button (click)="deleteInsuranceItem(insuranceItem.id)" class="icon-display"><mat-icon>delete</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="push-left"></div>
                    <div [ngClass]="{'pagination-color-dark' : isDark | async }" class="align-pageNumbers pagination-color">{{ minPageInsurance }} - {{ maxPageInsurance }} of {{ totalResultsInsurance }}</div>
                    <button mat-button [disabled]="insuranceLeftDisabled" class="left-arrow pagination-color" (click)="goLeft(minPageInsurance,'insurance')"><mat-icon [ngClass]="{'pagination-color-dark' : isDark | async}">chevron_left</mat-icon></button><button mat-button class="right-arrow pagination-color" [disabled]="insuranceRightDisabled" (click)="goRight(minPageInsurance,maxPageInsurance,'insurance')"><div [ngClass]="{'pagination-color-dark' : isDark | async}"><mat-icon>chevron_right</mat-icon></div></button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<ng-template #noData>
    <div class="no-data"><span>You have no data for chosen categories</span></div>
</ng-template>