.date > .mat-form-field-wrapper{
    padding-bottom: 25px !important;
}

.form-field-spacing{
    margin: 10px;
}

.search-button-spacing{
    padding: 20px;
}

.add-red-background{
    background: #D3504D !important;
}

.table-alignment{
    text-align: center;
}

.icon-display{
    margin-top: -3px;
    margin-left: -20px;
}

.mat-card-content-design{
    border: solid 1px silver;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.table-bottom-reduce{
    margin-bottom:-10px;
}

.mat-card-header-design{
    border: 1px solid silver;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 3px;
}

.dark-mode-table-content{
    background-color: #2E2E38;
    color: #009788;
}

.mat-header-title-design{
    padding-top: 5px;
    margin-bottom: 0px;
}

.align-pageNumbers{
    margin-top: 10px;
}

.push-left{
    flex-grow: 1;
}

.right-arrow{
    margin-right: 14px;
}

.left-arrow{
    margin-left: 10px;
}

.pagination-color-dark{
    color:#009788 !important;
}

.pagination-color{
    color:#009788;
}

.no-data{
    margin-left: 18px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.purchases td:nth-of-type(1):before { content: "Item"; }
	.purchases td:nth-of-type(2):before { content: "Cost"; }
    .purchases td:nth-of-type(3):before { content: "Date"; }
    .purchases td:nth-of-type(4):before { content: "Main Category"; }
    .purchases td:nth-of-type(5):before { content: "Sub Category"; }
    .purchases td:nth-of-type(6):before { content: "Actions"; }
    .income td:nth-of-type(1):before { content: "Salary Recieved"; }
	.income td:nth-of-type(2):before { content: "Date Recieved"; }
    .income td:nth-of-type(3):before { content: "Federal Tax"; }
    .income td:nth-of-type(4):before { content: "State Tax"; }
    .income td:nth-of-type(5):before { content: "Medicare Tax"; }
    .income td:nth-of-type(6):before { content: "Social Security Tax"; }
    .income td:nth-of-type(7):before { content: "Actions"; }
    .insurance td:nth-of-type(1):before { content: "Insurance Type"; }
    .insurance td:nth-of-type(2):before { content: "Amount"; }
    .insurance td:nth-of-type(3):before { content: "Date"; }
    .insurance td:nth-of-type(4):before { content: "Actions"; }
}