.date > .mat-form-field-wrapper{
    padding-bottom: 25px !important;
}

.form-field-spacing{
    margin: 10px;
}

.search-button-spacing{
    padding: 20px;
}

.table-alignment{
    text-align: center;
}

.icon-display{
    margin-top: -10px;
}