<mat-accordion>
    <mat-expansion-panel class="shadow expansion-panel-bottom" [expanded]="openPanel"  (click)="expansionPanelClicked()" >
        <mat-expansion-panel-header>
            <mat-panel-title> Income </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="incomeForm">
            <app-income [parentIncomeForm]="incomeForm" (formData)="saveIncome($event)" 
            (formReset)="updateIncomeFormToReset($event)" buttonName="Save" 
            [cancelEnabled]="cancelIncomeEnabled"></app-income>
        </form>
    </mat-expansion-panel>
</mat-accordion>