<div>
    <div *ngIf="!noDataForCustomer">
        <div class="row startToEnd d-flex justify-content-center" >
            <span class="startToEnd">From {{ startYear }} to {{ endYear }}</span>
        </div>
    </div>
    <br>
    <div class="row bottom-spacing">
        <div class="col-md-6">
            <app-pieTotal *ngIf="nowCallPieData"></app-pieTotal>
        </div>
        <div class="col-md-6">
            <div *ngIf="yearsDataRecieved">
                <app-lineByYear [startYear]="startYear" [endYear]="endYear"></app-lineByYear>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom-spacing top-spacing">
        <app-tablePendingLoans></app-tablePendingLoans>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom-spacing ">
        
    </div>
    <div class="row bottom-spacing top-spacing">
        <div class="col-md-6">
            <app-barCategory></app-barCategory>
        </div>
        <div class="col-md-6 small-window-add-spacing">
            <app-alarms></app-alarms>
        </div>
    </div>
</div>
