<div>
    <div class="row startToEnd d-flex justify-content-center">
        <span class="startToEnd">From {{ startYear }} to {{ endYear }}</span>
    </div>
    <br>
    <div class="row bottom-spacing">
        <div class="col-md-6">
            <app-pieTotal></app-pieTotal>
        </div>
        <div class="col-md-6">
            <app-lineByYear></app-lineByYear>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom-spacing top-spacing">
        <app-tablePendingLoans></app-tablePendingLoans>
    </div>
    <mat-divider></mat-divider>
    <div class="bottom-spacing top-spacing">
        <app-barCategory></app-barCategory>
    </div>
</div>
