.flex-spacer{
    flex-grow: 1;
}

.startToEnd{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottom-spacing{
    padding-bottom:20px;
}

.top-spacing{
    padding-top:20px;
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .small-window-add-spacing{
        margin-top: 15px;
    }
}
