<div>
    <div class="row startToEnd d-flex justify-content-center">
        <span class="startToEnd">From {{ startYear }} to {{ endYear }}</span>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <app-pieTotal></app-pieTotal>
        </div>
        <div class="col-md-6">
            <app-lineByYear></app-lineByYear>
        </div>
    </div>
    <hr>
    <app-tablePendingLoans></app-tablePendingLoans>
    <hr>
    <app-barCategory></app-barCategory>
    <hr>
</div>
