<mat-toolbar color="primary" class="shadow">
    <mat-toolbar-row>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="heading-primary-main">Budget Tracker</h1>
            </div>    
        </div>
    </mat-toolbar-row>
</mat-toolbar> 
<div class="take-whole-page">
    <div class="main-home-page">
        <div class="row">
            <div class="text-box">
                <button mat-raised-button (click)="demoLogin()" class="button-width">Demo</button>
                <button mat-raised-button (click)="loginWithFirebase(false)" class="button-spacing button-width">Login</button>
            </div>
        </div>
    </div>
</div>
<mat-toolbar class="footer">
    <mat-toolbar-row>
    </mat-toolbar-row>
</mat-toolbar>