<form #yearByYearForm="ngForm" (ngSubmit)="onYearByYearFormSubmit()">
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Year</mat-label>
        <mat-select required ngModel name="year" #year (ngModelChange)="yearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Category</mat-label>
        <mat-select required ngModel name="category" #category (ngModelChange)="categoryChanged()">
                <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
<mat-card>
    <mat-card-content>
        <div id="canvasElementsForYearOverYear" class="row">
            <div class="col-md-6">
                <div [hidden]="!chart" *ngFor="let chart of chartsLeft; let i = index" >
                    <canvas id="YearByYearExpensesLeft{{i}}" class="lineChartDisplay"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <div [hidden]="!chart" *ngFor="let chart of chartsRight; let i = index" >
                    <canvas id="YearByYearExpensesRight{{i+1}}" class="lineChartDisplay"></canvas>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>