<form #yearByYearForm="ngForm" (ngSubmit)="onYearByYearFormSubmit()">
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Year</mat-label>
        <mat-select required ngModel name="year" #year (ngModelChange)="yearChanged()">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Category</mat-label>
        <mat-select required ngModel name="category" #category (ngModelChange)="categoryChanged()">
                <mat-option *ngFor="let cat of categories" [value]="cat">{{ cat }}</mat-option>
        </mat-select>
    </mat-form-field>
</form>
<div *ngIf="noData">
    <span class="no-data">You have no data for the category and year chosen!</span>
</div>
<ng-template placeholderDirective ></ng-template>