.barChartDisplay{
    max-height: 200px;
    max-width: 450px;
    min-height: 200px;
}

.text-decorator{
    color: #5F687C;
    font-size: 16px;
    text-align: center;
}

.no-data{
    padding-left:14px;
}

.mat-card-height-adjust{
    min-height: 437px;
    max-height: 437px;
}

.adjust-on-load{
    text-align: center;
    margin-top: 100px;
}