<h3 class="text-decorator">Expenses by Category</h3>
<form [formGroup]="categoriesForm">
    <div class="row d-flex justify-content-center">
        <app-categories [parentForm]="categoriesForm" formInnerControlName1="mainCategory" [subCategory]="subCategory" formInnerControlName2="subCategory" [isDisabled]="isDisabled" (subCategorySelected)="getOverallCategoriesExpenses($event)" (mainCategorySelected)="mainCategorySelected($event)"></app-categories>
    </div>
    <div class="row d-flex justify-content-center">
        <div *ngIf="noData" class="no-data">
            <span>You have no data for the categories chosen!</span>
        </div>
    </div>
</form>
<ng-template placeholderDirective></ng-template>