.barChartDisplay{
    max-height: 200px;
    max-width: 450px;
    min-height: 200px;
}

.text-decorator{
    color: #2C3531;
    font-size: 16px;
    text-align: center;
}

.no-data{
    padding-left:14px;
}