.shadow {
    box-Shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
}

.flex-spacer{
    flex-grow: 1;
}

.page-margin{
    margin: 20px;
}

.footer {
    background: rgb(181, 172, 207);
    color: rgba(0,0,0,.87);
    min-height:200px;
}