<mat-accordion>
    <mat-expansion-panel class="shadow expansion-panel-bottom"  [expanded]="openPanel" (click)="expansionPanelClicked()"  #purchaseExpansionPanel>
        <mat-expansion-panel-header>
            <mat-panel-title> Purchases </mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="purchaseForm">
            <app-purchases [parentPurchaseForm]="purchaseForm" [subCategory]="subCategory" 
            (formData)="savePurchases($event)" (formToReset)="updateFormToReset($event)"
             buttonName="Save" [cancelEnabled]="cancelPurchaseEnabled"></app-purchases>
        </form>
    </mat-expansion-panel>
</mat-accordion>