<mat-accordion>
    <mat-expansion-panel class="shadow expansion-panel-bottom"  [expanded]="openPanel" (click)="expansionPanelClicked()"  #purchaseExpansionPanel>
        <mat-expansion-panel-header>
            <mat-panel-title> Purchases & Investments</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="purchaseForm" (ngSubmit)="savePurchases()" class="expansion-panel-bottom">
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label>Item</mat-label>
                <input matInput formControlName="item">
                <mat-error *ngIf="!purchaseForm.get('item').valid && purchaseForm.get('item').touched">Item is inValid!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label>Cost</mat-label>
                <input matInput formControlName="cost">
                <mat-error *ngIf="!purchaseForm.get('cost').valid && purchaseForm.get('cost').touched">Cost is inValid!</mat-error>
            </mat-form-field>
            <br>
            <app-categories></app-categories>
            <br>
            <mat-form-field class="example-full-width" class="date form-field-spacing">
                <mat-label>Choose a date</mat-label>
                <input matInput [max]="maxDate" [matDatepicker]="newPurchasePicker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="newPurchasePicker"></mat-datepicker-toggle>
                <mat-datepicker #newPurchasePicker></mat-datepicker>
                <mat-error *ngIf="!purchaseForm.get('date').valid && purchaseForm.get('date').touched">Valid Date is required!</mat-error>
            </mat-form-field>
            <mat-slide-toggle checked='{{ checked }}' formControlName="toggle" (click)="toggleSelected()" class="form-field-spacing">
                Used Credit Card?
            </mat-slide-toggle>
            <div *ngIf="creditInfo" class="form-field-spacing">
                <mat-form-field appearance="fill">
                    <mat-label>Credit Card Name</mat-label>
                    <input matInput formControlName="creditCardName">
                    <mat-error *ngIf="!purchaseForm.get('creditCardName').valid && purchaseForm.get('creditCardName').touched">Credit Card Name is inValid!</mat-error>
                </mat-form-field>
            </div>
            <br>
            <button mat-raised-button color="primary">Save  <mat-icon>save</mat-icon></button>
        </form>
    </mat-expansion-panel>
</mat-accordion>