<mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Shares</mat-card-title>
      <div class="button-flex"></div>
      <button mat-raised-button color="primary" (click)="addShares()"><mat-icon>add</mat-icon></button>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerShares; else nowOpenSharesInvestmentResults">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template class="table-responsive" #nowOpenSharesInvestmentResults>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-header-style">Investment Type</th>
                        <th scope="col" class="table-header-style">Invested Price</th>
                        <th scope="col" class="table-header-style">Ticker</th>
                        <th scope="col" class="table-header-style">No of Shares</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let investment of investmentShares">
                        <td >{{ investment.investmentType | uppercase}}</td>
                        <td>{{ investment.investedPrice | currency:USD }}</td>
                        <td>{{ investment.tikker }}</td>
                        <td>{{ investment.shares }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Gold</mat-card-title>
      <div class="button-flex"></div>
      <button mat-raised-button color="primary" (click)="addGold()"><mat-icon>add</mat-icon></button>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerGold; else nowOpenGoldInvestmentResults">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template class="table-responsive"  #nowOpenGoldInvestmentResults>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-header-style">Investment Type</th>
                        <th scope="col" class="table-header-style">Invested Price</th>
                        <th scope="col" class="table-header-style">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let investment of investmentGolds">
                        <td >{{ investment.investmentType | uppercase}}</td>
                        <td>{{ investment.investedPrice | currency:USD }}</td>
                        <td>{{ investment.weight }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Other Comodities</mat-card-title>
      <div class="button-flex"></div>
      <button mat-raised-button color="primary" (click)="addComodities()"><mat-icon>add</mat-icon></button>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerOtherCommodities; else nowOpenOtherCommoditiesInvestmentResults">
            <mat-spinner></mat-spinner>
        </div>
        <ng-template class="table-responsive" #nowOpenOtherCommoditiesInvestmentResults>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="table-header-style">Investment Type</th>
                        <th scope="col" class="table-header-style">Invested Price</th>
                        <th scope="col" class="table-header-style">Weight</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let investment of investmentOthers">
                        <td >{{ investment.investmentType | uppercase}}</td>
                        <td>{{ investment.investedPrice | currency:USD }}</td>
                        <td>{{ investment.weight }}</td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </mat-card-content>
</mat-card>