<mat-form-field appearance="fill" class="form-field-spacing">
    <mat-label>Category</mat-label>
    <mat-select [(value)]="selectedCategory" ngModel required name="purchaseMainCategory" #purchaseMainCategory (ngModelChange)="purchaseMainCategorySelected()">
            <mat-option *ngFor="let cat of category" [value]="cat | removeSpace">{{ cat }}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field appearance="fill" class="form-field-spacing">
    <mat-label>Sub Category</mat-label>
    <mat-select [(value)]="selectedSubCategory" ngModel required name="purchaseSubCategory" #purchaseSubCategory [disabled]="isDisabled" (ngModelChange)="purchaseSubCategorySelected()">
            <mat-option *ngFor="let subCat of subCategory" [value]="subCat | removeSpace">{{ subCat }}</mat-option>
    </mat-select>
</mat-form-field>