<mat-accordion>
    <mat-expansion-panel class="shadow expansion-panel-bottom" [expanded]="openPanel" #insuranceExpansionPanel  (click)="expansionPanelClicked()">
        <mat-expansion-panel-header>
            <mat-panel-title> Insurance</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="insuranceForm" class="expansion-panel-bottom" (ngSubmit)="saveInsurance()">
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label >Insurance Type</mat-label>
                <mat-select formControlName="insuranceType">
                        <mat-option *ngFor="let insurance of insurances" [value]="insurance | removeSpace">{{ insurance }}</mat-option>
                </mat-select>
                <mat-error *ngIf="!insuranceForm.get('insuranceType').valid && insuranceForm.get('insuranceType').touched">Please Select an Insurance Type</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label>Cost</mat-label>
                <input matInput formControlName="insuranceAmount">
                <mat-error *ngIf="!insuranceForm.get('insuranceAmount').valid && insuranceForm.get('insuranceAmount').touched">Cost is inValid!</mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width" class="date form-field-spacing">
                <mat-label>Choose a date</mat-label>
                <input matInput formControlName="insurancePurchasedDate" [max]="maxDate" [matDatepicker]="HealthInsurancePicker">
                <mat-datepicker-toggle matSuffix [for]="HealthInsurancePicker"></mat-datepicker-toggle>
                <mat-datepicker #HealthInsurancePicker></mat-datepicker>
                <mat-error *ngIf="!insuranceForm.get('insurancePurchasedDate').valid && insuranceForm.get('insurancePurchasedDate').touched">Valid Date is required!</mat-error>
            </mat-form-field>
            <br>
            <button mat-raised-button color="primary">Save <mat-icon>save</mat-icon></button>
        </form>
    </mat-expansion-panel>
</mat-accordion>