<mat-accordion>
    <mat-expansion-panel class="shadow expansion-panel-bottom" [expanded]="openPanel" #insuranceExpansionPanel  (click)="expansionPanelClicked()">
        <mat-expansion-panel-header>
            <mat-panel-title> Insurance</mat-panel-title>
        </mat-expansion-panel-header>
        <form [formGroup]="insuranceForm">
            <app-insurance [parentInsuranceForm]="insuranceForm" [insurances]="insurances" buttonName="Save" (formData)="saveOrUpdateInsurance($event)" (formReset)="updateInsuranceFormReset($event)" [cancelEnabled]="cancelInsuranceEnabled"></app-insurance>
        </form>
    </mat-expansion-panel>
</mat-accordion>