<form [formGroup]="yearByYearForm">
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Year</mat-label>
        <mat-select formControlName="year">
                <mat-option *ngFor="let year of years" [value]="year">{{ year }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!yearByYearForm.get('year').valid && yearByYearForm.get('year').touched">Please select a valid year!</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field-spacing">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category">
                <mat-option *ngFor="let cat of categories" [value]="cat | removeSpace">{{ cat }}</mat-option>
        </mat-select>
        <mat-error *ngIf="!yearByYearForm.get('category').valid && yearByYearForm.get('category').touched">Please select a valid category!</mat-error>
    </mat-form-field>
</form>
<div *ngIf="noData">
    <span class="no-data">You have no data for the category and year chosen!</span>
</div>
<ng-template placeholderDirective ></ng-template>