<mat-card>
    <mat-card-header class="mat-card-header-design">
        <mat-card-title class="mat-header-title-design">{{ data.displayMessage }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <form [formGroup]="newAlarmForm" (ngSubmit)="createAlarm()">
            <mat-radio-group aria-labelledby="alarmByLabel" >
                <mat-radio-group aria-label="alarmByLabel" class="alarm-by-radio-group" formControlName="alarmBy">
                    <mat-radio-button value="monthly">Monthly Budget</mat-radio-button>
                    <mat-radio-button value="yearly" class="second-radio-button">Yearly Budget</mat-radio-button>
                    <mat-error *ngIf="!newAlarmForm.get('alarmBy').valid && newAlarmForm.get('alarmBy').touched">Alarm Period is inValid!</mat-error>
                </mat-radio-group>
            </mat-radio-group>
            <label>Greater than</label>
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label>Budget Amount</mat-label>
                <input matInput formControlName="budgetAmount">
                <mat-error *ngIf="!newAlarmForm.get('budgetAmount').valid && newAlarmForm.get('budgetAmount').touched">Budget is inValid!</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-field-spacing">
                <mat-label>Email</mat-label>
                <input matInput formControlName="budgetEmail">
                <mat-error *ngIf="!newAlarmForm.get('budgetEmail').valid && newAlarmForm.get('budgetEmail').touched">Email is inValid!</mat-error>
            </mat-form-field>
            <br>
            <br>
            <button mat-raised-button color="primary" type="submit">Create Alarm</button>
            <a mat-button (click)="cancelAlarm()" class="leftSpacing">Cancel</a>
        </form>
    </mat-card-content>
</mat-card>