<div class="table-responsive">
    <table class="table">
        <thead>
        <tr>
            <th scope="col" class="table-header-style">Loan</th>
            <th scope="col" class="table-header-style">APR</th>
            <th scope="col" class="table-header-style">Loan Type</th>
            <th scope="col" class="table-header-style">EMI</th>
        </tr>
        </thead>
        <tbody *ngIf="openLoans.openLoans.loanName != undefined; else openClosedLoans">
            <tr *ngFor="let loan of openLoans">
                <td>{{ loan.loanName | uppercase}}</td>
                <td>{{ loan.loanAPR | currency:USD }}</td>
                <td>{{ loan.loanType | currency:USD }}</td>
                <td>{{ loan.loanMonthlyAmount | currency:USD }}</td>
            </tr>
        </tbody>
        <tbody #openClosedLoans>
            <tr *ngFor="let loan of closedLoans">
                <td>{{ closedLoans.loanName | uppercase}}</td>
                <td>{{ closedLoans.loanAPR | currency:USD }}</td>
                <td>{{ closedLoans.loanType | currency:USD }}</td>
                <td>{{ closedLoans.loanMonthlyAmount | currency:USD }}</td>
            </tr>
        </tbody>
    </table>
</div>