<mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Open Loans</mat-card-title>
      <div class="button-flex"></div>
      <button mat-raised-button color="primary" (click)="addNewLoans()"><mat-icon>add</mat-icon></button>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerOpenLoans; else nowOpenLoansResults">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!spinnerOpenLoans && openLoans.length != 0" #nowOpenLoansResults>
            <div class="table-responsive-sm table-bottom-reduce">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="table-header-style">Name</th>
                        <th scope="col" class="table-header-style">Type</th>
                        <th scope="col" class="table-header-style">Balance</th>
                        <th scope="col" class="table-header-style table-alignment">APR</th>
                        <th scope="col" class="table-header-style">EMI</th>
                        <th scope="col" class="table-header-style table-alignment">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let loan of openLoans">
                            <td >{{ loan.loanName | uppercase}}</td>
                            <td >{{ loan.loanType | uppercase }}</td>
                            <td >{{ loan.loanBalance | currency:USD }}</td>
                            <td class="table-alignment">{{ loan.loanAPR | decimalFormat:2 }} %</td>
                            <td >{{ loan.loanMonthlyAmount | currency:USD }}</td>
                            <td class="table-alignment"><a mat-button (click)="closeLoan(loan.loanName)" class="icon-display"><mat-icon>close</mat-icon></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="noOpenLoans">
            <span class="no-loans-content">You currently have no "<strong>Open Loans</strong>"!</span>
        </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Closed Loans</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerClosedLoans; else nowClosedLoansResults">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!spinnerClosedLoans && closedLoans.length != 0" #nowClosedLoansResults>
            <div class="table-responsive-sm table-bottom-reduce">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col" class="table-header-style">Name</th>
                        <th scope="col" class="table-header-style">Type</th>
                        <th scope="col" class="table-header-style table-alignment">APR</th>
                        <th scope="col" class="table-header-style">EMI</th>
                        <th scope="col" class="table-header-style table-alignment">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let loan of closedLoans">
                            <td >{{ loan.loanName | uppercase}}</td>
                            <td >{{ loan.loanType | uppercase }}</td>
                            <td class="table-alignment">{{ loan.loanAPR  | decimalFormat:2 }} %</td>
                            <td >{{ loan.loanMonthlyAmount | currency:USD }}</td>
                            <td class="table-alignment"><a mat-button (click)="deleteLoan(loan.loanName)" class="icon-display"><mat-icon>delete_forever</mat-icon></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div *ngIf="noClosedLoans">
            <span class="no-loans-content">You currently have no "<strong>Closed Loans</strong>"!</span>
        </div>
    </mat-card-content>
  </mat-card>