<mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Open Loans</mat-card-title>
      <div class="button-flex"></div>
      <button mat-raised-button color="primary" (click)="addNewLoans()"><mat-icon>add</mat-icon></button>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerOpenLoans;else nowOpenLoansResults" class="center-align">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <ng-template #nowOpenLoansResults>
            <div *ngIf="!spinnerOpenLoans && openLoans.length > 0">
                <div class="table-responsive-sm table-bottom-reduce">
                    <table class="table table-sm openLoans">
                        <thead>
                        <tr>
                            <th scope="col" class="table-header-style">Loan Name</th>
                            <th scope="col" class="table-header-style">Loan Type</th>
                            <th scope="col" class="table-header-style">Balance</th>
                            <th scope="col" class="table-header-style">APR</th>
                            <th scope="col" class="table-header-style">EMI</th>
                            <th scope="col" class="table-header-style">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let loan of openLoans">
                                <td class="table-content-style">{{ loan.loanName | uppercase}}</td>
                                <td class="table-content-style">{{ loan.loanType | uppercase }}</td>
                                <td class="table-content-style">{{ loan.loanBalance | currency:USD }}</td>
                                <td class="table-content-style">{{ loan.loanAPR | decimalFormat:2 }} %</td>
                                <td class="table-content-style">{{ loan.loanMonthlyAmount | currency:USD }}</td>
                                <td >
                                    <a mat-button (click)="editLoan(loan.loanName,loan.loanType,loan.loanBalance,loan.loanAPR,loan.loanMonthlyAmount,loan.id)"><mat-icon>edit</mat-icon></a>
                                    <a mat-button (click)="closeLoan(loan.id)" class="icon-display"><mat-icon>close</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
        <div *ngIf="noOpenLoans">
            <span class="no-loans-content">You currently have no "<strong>Open Loans</strong>"!</span>
        </div>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header class="mat-card-header-design">
      <mat-card-title class="mat-header-title-design">Closed Loans</mat-card-title>
    </mat-card-header>
    <mat-card-content class="mat-card-content-design">
        <div *ngIf="spinnerClosedLoans;else nowClosedLoansResults" class="center-align">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
        <ng-template #nowClosedLoansResults>
            <div *ngIf="!spinnerClosedLoans && closedLoans.length > 0">
                <div class="table-responsive-sm table-bottom-reduce">
                    <table class="table table-sm closedLoans">
                        <thead>
                        <tr>
                            <th scope="col" class="table-header-style">Loan Name</th>
                            <th scope="col" class="table-header-style">Loan Type</th>
                            <th scope="col" class="table-header-style">APR</th>
                            <th scope="col" class="table-header-style">EMI</th>
                            <th scope="col" class="table-header-style">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let loan of closedLoans">
                                <td class="table-content-style">{{ loan.loanName | uppercase}}</td>
                                <td class="table-content-style">{{ loan.loanType | uppercase }}</td>
                                <td class="table-content-style">{{ loan.loanAPR  | decimalFormat:2 }} %</td>
                                <td class="table-content-style">{{ loan.loanMonthlyAmount | currency:USD }}</td>
                                <td >
                                    <a mat-button (click)="reOpenLoan(loan.id)" ><mat-icon>lock_open</mat-icon></a>
                                    <a mat-button (click)="deleteLoan(loan.id)" class="icon-display"><mat-icon>delete_forever</mat-icon></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </ng-template>
        <div *ngIf="noClosedLoans">
            <span class="no-loans-content">You currently have no "<strong>Closed Loans</strong>"!</span>
        </div>
    </mat-card-content>
  </mat-card>