.mat-card-content-design{
    border: solid 1px silver;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.table-bottom-reduce{
    margin-bottom:-10px;
}

.table-header-style{
    color: #B3B3B3;
    font-size: 14px;
    font-style: italic;
}

.table-content-style{
  color: #B3B3B3;
}

.mat-card-header-design{
    border: 1px solid silver;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
    padding: 3px;
}

.mat-header-title-design{
    padding-top: 5px;
    margin-bottom: 0px;
}

.no-loans-content{
    font-size: medium;
}

.mat-spinner-design{
    margin:10px;
}

.button-flex{
    flex-grow:1;
}

.mat-form-field-flex{
    width:180px !important;
}

.icon-display{
    margin-top: -3px;
    margin-left: -20px;
}

.center-align{
    text-align: center;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #673BB7;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	.openLoans td:nth-of-type(1):before { content: "Name"; }
	.openLoans td:nth-of-type(2):before { content: "Type"; }
    .openLoans td:nth-of-type(3):before { content: "Balance"; }
    .openLoans td:nth-of-type(4):before { content: "APR"; }
    .openLoans td:nth-of-type(5):before { content: "EMI"; }
    .openLoans td:nth-of-type(6):before { content: "Actions"; }
    .closedLoans td:nth-of-type(1):before { content: "Name"; }
	.closedLoans td:nth-of-type(2):before { content: "Type"; }
    .closedLoans td:nth-of-type(3):before { content: "APR"; }
    .closedLoans td:nth-of-type(4):before { content: "EMI"; }
    .closedLoans td:nth-of-type(5):before { content: "Actions"; }
}